## Import necessary libraries

In [1]:
import sys
import string
import simplejson
from twython import Twython
import pandas as pd 
import os
import pandas as pd
import seaborn as sns
from scipy.stats import norm
import math as mt
import numpy as np
import matplotlib.pyplot as plt
from scipy.stats import binom
import warnings
import itertools
import datetime
import numpy as np
import matplotlib.pyplot as plt
import tweepy 
import demjson
import datetime
import pytz

### ============================================================================================
### Make sure to run Add User Data Notebook before running this one.
### ============================================================================================

## Read file to data frame

In [2]:
warnings.filterwarnings('ignore')
path_store='totalDatanew_users_detail.csv'

isFile = os.path.isfile(path_store) 
print(isFile)                           

totalDatanew = pd.read_csv(path_store)

True

### Drop the first column as it shows only index.

In [3]:
totalDatanew=totalDatanew.drop(totalDatanew.columns[0], axis=1)
totalDatanew.sample(5)

,id,screen_name,created_at,original_text,clean_text,polarity,subjectivity,favorite_count,retweet_count,possibly_sensitive,...,place,user_name,location,description,followers_count,friends_count,listed_count,statuses_count,favourites_count,verified
113,1281632895736647680,saltmaamz,Fri Jul 10 16:54:28 +0000 2020,"maybe , just maybe , it‚Äôs time I forgave him. ...",maybe maybe time I forgave sake sake Allah mak...,0.000000,0.000,6.0,1.0,NaN,...,NaN,aqilah ü§ç,cpt / sa üáøüá¶,21 years of constantly being taken for a poes ...,3798,367,3,43965,3633,False
60,1194624552308883457,m_obrien68,Wed Nov 13 14:34:22 +0000 2019,This is great! #endCoal!! African Development ...,This great African Development Bank decides fu...,0.400000,0.375,9.0,2.0,False,...,"Nairobi, Kenya",Michael O'Brien-Onyeka,"Nairobi, Kenya","Senior Vice President, Africa Field Division a...",935,1720,22,2803,866,False
242,1311252624839241728,MChagara,Wed Sep 30 10:32:42 +0000 2020,@rtumusiime89 @BrianNakibinge @newvisionwire @...,Exactly ... But keep retracting statement time...,0.375000,0.375,0.0,0.0,NaN,...,NaN,Mercy Chagara,"Kampala,Uganda",Do what makes you and God ONLY happy.\nproud V...,1357,1588,10,17484,15643,False
227,1309250076070477824,margotoge,Thu Sep 24 21:55:17 +0000 2020,"Looking forward to speaking on an online, half...",Looking forward speaking online half-day Sympo...,0.000000,0.000,3.0,0.0,NaN,...,NaN,Margo T. Oge,NaN,"Author of book https://t.co/4KEKww3Fyx, former...",676,93,37,1807,345,False
59,1204709612378820609,Juliet_Kabera,Wed Dec 11 10:28:48 +0000 2019,Congrats @JoshWhaleNZ for the successful launc...,Congrats successful launch KM traveled e-motor...,0.391667,0.525,35.0,12.0,False,...,NaN,Juliet Kabera,NaN,"Director General, Rwanda Environment Managemen...",1985,205,10,339,230,False

### Change String type to date type.

In [4]:
totalDatanew['created_at']= pd.to_datetime(totalDatanew['created_at'])

## Define function that  changes data type.

In [5]:
def rey_date(x):
   return x.date

## Define function that adds timeline.

* Before Lockdown===1/11/2019 - 31/03/2020
* During Lockdown===1/04/2020 - 31/07/2020
* After Lockdown ===1/08/2020 - Present

In [6]:
def timeline(date):
    if(date < (datetime.date(2020, 4, 1) )):
        return "pre"
    if(((date <= datetime.date(2020, 8, 1)) & (date >= datetime.date(2020, 4, 1)))  ):
        return "during"
    if(date > datetime.date(2020, 8, 1) ):
        return "post"

## Apply functions to dataframe.

In [7]:
totalDatanew['timeline'] = totalDatanew['created_at'].apply(rey_date)

In [8]:
totalDatanew['timeline'] = totalDatanew['timeline'].apply(timeline)

In [9]:
totalDatanew.sample(3)

,id,screen_name,created_at,original_text,clean_text,polarity,subjectivity,favorite_count,retweet_count,possibly_sensitive,...,user_name,location,description,followers_count,friends_count,listed_count,statuses_count,favourites_count,verified,timeline
54,1228411139744243713,eci_africa,2020-02-14 20:10:13+00:00,"Now is the time to step up local, national, re...",Now time step local national regional global e...,-0.1,0.133333,0.0,0.0,False,...,Environmental Compliance Institute,"Nairobi, Kenya","Influencing #policy, environmental #governance...",301,580,1,1036,1104,False,pre
105,1288515815806054402,saltmaamz,2020-07-29 16:44:44+00:00,"@bobsyouruncleCP lmao , ain‚Äôt no thang but a c...",lmao aint thang chicken wang,0.0,0.975000,1.0,0.0,NaN,...,aqilah ü§ç,cpt / sa üáøüá¶,21 years of constantly being taken for a poes ...,3798,367,3,43965,3633,False,during
240,1310512309710868480,MaserekaDavid,2020-09-28 09:30:57+00:00,@MChagara And that's what scares me the most @...,And 's scares,0.0,0.000000,1.0,1.0,NaN,...,David Masereka,Kampala,"Loves nature and protecting it, better living ...",74,199,0,585,3661,False,post

## Save file as CSV

In [10]:
totalDatanew.to_csv("totalDatanew_users_detail_timeline.csv")

## Handle Hashtags for each user and Create List for Tableau.

In [11]:
df=totalDatanew
wordcloud=[]
for x in range(16):
  u='Col'+str(x)
  df[u] = (np.where(df['hashtags'].str.contains(','),
                  df['hashtags'].str.split(',').str[x],
                  ''))
  col_one_list = df[u].tolist()
  wordcloud.extend(col_one_list)

In [12]:
totalDatanew.to_csv("totalDatanew_users_detail_timeline_separated_hashytags.csv")

In [13]:
wordcloud = [x for x in wordcloud if x != '']
hashtag_list = pd.DataFrame(wordcloud)
hashtag_list.to_csv("only_hastagslist.csv")